h1{
    color: red;
    font-size: 20px;
    text-align: center;
font-family: 'Times New Roman', Times, serif;
}

p{
    background-color: green
}

h2{
    font-size: medium;
    text-align: center;
    color: blueviolet;
}
